body {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav, .footer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  border-radius: 10px;
  background-color: #466b0a;
}

.nav {
  position: fixed;
  top: 5px;
}

.footer {
  position: relative;
  margin-top: 20px;
  bottom: 0;
}

.title {
  text-align: center;
  padding-top: 40px;
}

.table-container, .about, .search {
  text-align: center;
  min-height: 300px;
  width: 80%;
  border: 3px solid #000000;
  border-radius: 10px;
  background-color: #808080;
}

.search-result-item {
  background-color: #ffffff;
  border: 2px solid #000000;
  min-height: 50px;
  margin: 0 auto;
  width: 80%;
}

.modal {
  /*display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #000000d2;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 80%;
}

.close {
  color: #850000b4;
  float: right;
  font-size: 18px;
  font-weight: bold;
  width: 40px;
  border-radius: 10px;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px auto;
  width: 75%;
  padding: 5%;
  height: 120px;
  border-radius: 10px;
  background-color: #946e06;
}

button {
  width: 128px;
  margin: 0 auto;
}

table {
  margin: 15px auto;
  width: 85%;
  padding: 5%;
  border-radius: 10px;
  background-color: #946e06;
}

td, th {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}

.about {
  min-height: 300px;
}